* {
    box-sizing: border-box;
    text-align: center;
    line-height: 1.6;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background: #777;
    color: #777;
    width: 960px;
    margin: 10px auto;
}

header {
    padding: 20px;
    margin-bottom: 8px;
    background: #ebebeb;
}

nav {
    padding: 20px;
    margin-bottom: 15px;
    background: #ebebeb;
}

aside {
    background: #ebebeb;
    float: right;
    width: 450px;
    height: 250px;
    padding-top: 15px;
    margin-left: 15px;
}

section {
    position: relative;
    width: 495px;
    height: 250px;
    padding-top: 15px;
    background: #ebebeb;
}

article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #777;
    color: #ebebeb;
    width: 475px;
    height: 179px;
    padding-top: 15px; 
}

#h, #p {
    color: #777;
    background: #ebebeb;
    margin: 8px 20px;
}

}

footer {
    clear: both;
    padding: 20px;
    margin-top: 16px;
    background: #ebebeb;